@import '../../_variables';

// * Mixin props for Button -> Component ________/> 

@mixin set-btn-default-props {

  max-width: 12rem;
  min-width: 8rem;
  @apply px-5 p
}

@mixin mount-btn-styles( $button-type) {
  @include set-btn-default-props;

  color: map-get( $btn-color, $button-type, text-color);
  background-color: map-get( $btn-color, $button-type, base);

  @if map-get($btn-color, $button-type) == 'secondary' or 'info' or 'danger' {
    border-radius: 0px;
  } @else {
    border-radius: 200px;
  }

}

// @mixin default-btn-props( $form, $type, $set) {

//   @if $form == 'square' {
    
//     max-width: 12rem;
//     @apply p-2;
//     color: map-get( $btn-color, #{$type}, text-color);
//     background: map-get($btn-color, $type, $set);
  
//     &:hover {
//       color: invert( map-get( $btn-color, #{$type}, text-color));
//       background: map-get( $btn-color, #{$type}, hover );
//     }
//   }


//   max-width: 12rem;
//     @apply rounded-2xl;
//     color: map-get( $btn-color, #{$type}, text-color);
//     background: map-get($btn-color, $type, $set);
  
//     &:hover {
//       color: invert( map-get( $btn-color, #{$type}, text-color));
//       background: map-get( $btn-color, #{$type}, hover );
//     }

// }