// * * * * * * * * * * * * //
// * - - - COLORS - - - *  //
// * * * * * * * * * * * * //


$btn-color: (

  primary: (
    base: rgb(0, 0, 0),
    hover: #ffff,
    text-color: #ffff
  ),
  secondary: (
    base: rgb(99, 99, 99),
    hover: #ffff
  ),
  success: (
    base: #333,
    hover: #2222,
    text-color: #444
  )
)