// * * * * * * * * * * * * //
// * - - - COLORS - - - *  //
// * * * * * * * * * * * * //


$btn-color: (

  primary: (
    base: rgb(0, 0, 0),
    hover: #ffff
  ),

  primary: (
    base: rgb(0, 0, 0),
    hover: #ffff
  ),
)